#footer{
    background: #000;
    width:100%;
    margin-top:10px;
}
#footer_link{
    padding-top:40px;
    padding-bottom:30px;
    /*margin-top: 13px;*/
}
#footer_link li{
    list-style: none;
    float:left;
    padding-left:30px;
    width:160px;
}
#footer_link  li a{
    text-decoration: none;
    font-size:18px;
    color:white;
}
#footer p{
    padding-left:80px;
    font-size:15px;
    color:white;
    margin-top: 0px;
}